body,html{
    background:#fdd0cd;

}
header{
    border-bottom: 1px solid #ddd; 
    background: #fff;
}
header a{
    color: #333;
    font: 14px 'Arial', 'Microsoft Yahei'
}
header a:hover{
    color: #e53;
}
.header_con{
    width: 1190px;
    margin: 0 auto;
    font: 14px 'Arial', 'Microsoft Yahei';
    color: #333;
}
.l_toolbar{
    float: left;
    line-height: 36px;
}
.l_toolbar li{
    float: left;
    position: relative;
}
.l_toolbar .collect{
    padding: 0 20px;
}
.collect .star{
    display: inline-block;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    background: url(http://b.boqiicdn.com/v2/images/toolbar.png) no-repeat;
    position: absolute;
    left: 1px;
    top: 11px;
}
.l_toolbar .address{
    padding: 0 20px 0 24px;
}
.address .map{
    display: inline-block;
    height: 15px;
    width: 9px;
    margin-right: 5px;
    background: url(http://b.boqiicdn.com/v2/images/toolbar.png)no-repeat -31px 0;
    position: absolute;
    top: 11px;
    left: 10px;
}
.address span{
    display: inline-block;
    min-width: 40px;
    color: #e53;
    font-weight: bold;
}
.address .sec-lev{
    display: inline-block;
    height: 4px;
    width: 7px;
    background: url(http://b.boqiicdn.com/v2/images/toolbar.png) no-repeat 0 -61px;
    margin-left: 5px;
    position: absolute;
    top: 16px;
    right: 10px;
}

.header_con .r_toolbar{
    float: right;
}
.r_toolbar li{
    float: left;
    height: 16px;
    line-height: 16px;
    padding:0 10px;
    margin: 10px 0;
    border-right: 1px solid #ccc;

}
.r_toolbar li a:hover{
    text-decoration: underline;
}


/*  标题搜索栏 */
#logo{
    width: 100%;
    background: #fff;
}
#logo .logo_con{
    width: 1190px;
    margin: 0 auto;
}
/* 广告栏 */
.active_ad img{
    width: 1190px;
}
/* logo */
#logo .content{
    padding: 15px 0;
    height: 100px;
}
.content .logo_pic{
    float: left;
}
.logo_pic a{
    display: block;
}
.logo_pic a img{
    display: block;
    width: 240px;
    height: 100px;
}
/* 搜索栏 */
.content .sreach{
    float: left;
    margin-left: 55px;
}
.sreach .sreach_con{
    margin-top: 34px;
    border: 3px solid #e53;
}
.sreach_con input{
    float: left;
    height: 26px;
    padding: 5px 10px;
    width: 494px;
}
.sreach_con span{
    float: left;
    height: 36px;
    line-height: 36px;
    width: 77px;
    background: #e53;
    text-align: center;
    font: 18px/40px "Microsoft YaHei";
}
.sreach_con input[placeholder]{
    color: #eee;
    font:16px/26px "Microsoft YaHei" 
}
.sreach_con span a{
    color: #fff;
}
.sreach .hot{
    display: block;
    font-size: 12px;
    margin-top:5px; 
    color: #999;
}
.hot .keyword{
    float: left;
    margin-right: 10px;
    height: 16px;
    line-height: 16px;
}
.hot a{
    display: block;
    color: #999
}
.hot a:hover{
    color: #e53;
}
/* APP广告 */
.content .ad_app{
    float: right;
    margin-top: 30px;
}
/* 导航 */
#nav{
    background: #e53 
}
#nav .nav_con{
    width: 1190px;
    margin: 0 auto;
}
.nav_con li{
    float: left;
    height:36px;
    line-height: 36px;
    text-align: center;
    font: 16px/36px "Microsoft YaHei";
}
.nav_con .cur{
    background: #9a0000;
}
.nav2 a{
    display: block;
    color: #fff;
    padding: 0 17px;
}
.nav2 a:hover{
    background: #9a0000;
}
.nav_con .nav1{
    background: #c20;
    width: 170px;
    padding: 0 10px;
    position: relative;
}
.nav1 .nav11 a{
    color: #fff;
    padding:0;
    float: left;   
}
.nav1 .nav11 em{
    float: right;
    width: 16px;
    height: 10px;
    margin-top: 13px;
    background: url(http://b.boqiicdn.com/v2/images/toolbar.png) no-repeat 0 -21px
}
.nav_con .nav3{
    float: right;
    position: relative;
    background: #c20
}
.nav_con .nav3 a{
    display: block;
    color: #fff;
    padding: 0 15px 0 30px;
}
.nav1:hover .menu{
    display: block;
}
/* 二级菜单 */
.nav1 .menu{
    width: 188px;
    border: 1px solid #c20;
    border-top: none;
    background: #fff;
    display: none;
    position: absolute;
    top: 36px;
    left: 0;

}
.menu .pet{
    padding: 9px 9px 14px;
    border-bottom: 1px solid #ccc;
}
.pet:last-child{
    border-bottom: none;
}
.pet a{
    color: #333;
}
.pet a:hover{
    color: #e53;
    text-decoration: underline
}
.pet dd{
    float: left;
    width: 53px;
    padding-top: 5px;
    font: 14px/16px "Microsoft YaHei";
    line-height: 16px;
    text-align: left;
}
.pet dd a{
    color: #666;
}
.pet dt{
    font:16px/18px "Microsoft YaHei";
}
.pet dt em{
    float: left;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    background: url(http://b.boqiicdn.com/v2/images/icon.png) no-repeat -195px -171px;
}
.pet dt a{
    float: left;
    line-height: 24px;
}
.pet dt span{
    float: right;
    height: 9px;
    width: 6px;
    background: url(http://b.boqiicdn.com/v2/images/icon.png) no-repeat -195px -222px;
    margin-top: 8px;
}
.cat dt em{
    background-position:-226px -170px;
}
.smallpet dt em{
    background-position: -262px -171px;
}
.water_pet dt em{
    background-position: -195px -197px;
}
.about_pet dt em{
    background: url(http://b.boqiicdn.com/v2/images/icons/life.png) no-repeat center;

}


/* 主题图片*/
#activity_pic{
    width: 100%;
    background: url(http://img.boqiicdn.com/Data/Shop/0/0/0/shopimgFile1538049496_y.jpg) repeat-x 50% top;
    height: auto;
}
#activity_pic .bbg{
    width: 990px;
    margin: 0 auto;
}
/* 侧栏 */
#activity_pic .bar{
    height: 100%;
    width: 36px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #0c0c0c; 
    font-size: 12px;
}
.bar .opreation{
    position: absolute;
    top: 40%;
    margin-top: -191px;
}
.bar li{
    border-top:1px solid #343434;
    text-align: center;

}
.bar .App{
    border-bottom:1px solid #343434;
}
.bar .go_top{
    position: fixed;
    bottom: 5px;
    right: 0;
    border-bottom:1px solid #343434;
    background-color: #0c0c0c;
}
.bar li a{
    display: block;
    padding-bottom: 9px;
    color: #999;
}
.bar li a:hover{
    background-color: #e53;
    color: #fff; 
}
.bar li span{
    display: block;
    line-height: 22px;
}
.bar .user.active{
    background: #e53;
}
.bar .buycar .txt{
    width: 12px;
    margin: 0 auto;
}
.bar em{
    display: block;
    height: 36px;
    width: 36px;
    background: url(http://b.boqiicdn.com/v2/images/silder/sbar_ico.png) no-repeat;
}
.user a{
   padding: 0;
}
.buycar em{
    background-position: 0 -36px;
}
.buycar a:hover em{
    background-position: -36px -36px
}
.buycar .number{
    display: block;
    margin-left: 8px;
    margin-top: 5px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    color: #fff;
    background: #c20;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
}
.money em{
    background-position: 0 -72px;
}
.money a:hover em{
    background-position: -36px -72px;
}
.collection em{
    background-position: 0 -108px;
}
.collection a:hover em{
    background-position: -36px -108px
}
.ask em{
    background-position: 0 -144px;
}
.ask a:hover em{
    background-position: -36px -144px;
}
.App em{
    background-position: 0 -180px;
}
.App a:hover em{
    background-position: -36px -180px;
}
.go_top em{
    height: 30px;
    background-position: 0 -288px;
}
.go_top a:hover em{
    background-position: -36px -288px;
}
/* 侧栏隐藏部分 */
.usr_login{
    display: none;
    border: 1px solid #d1d1d1;
    width: 250px;
    height: 280px;
    position: fixed;
    top: 40%;
    margin-top: -220px;
    right: 36px;
    padding: 30px 50px 30px 25px;
    background: #fff;
    color: #666;
    font-size: 14px;
    font-family: '\5b8b\4f53';
    z-index: 1;
}
.usr_login input{
    float: left;
    width: 200px;
    height: 18px;
    line-height: 18px;
    padding: 10px 0 10px 10px;
    color: #666;
    font-size: 14px;
    font-family: '\5b8b\4f53';
}
.usr_login .usr_name{
    border: 1px solid #dddddd;
    height: 39px;
    line-height: 39px;
    width: 248px;
    border-bottom: none;
}

.usr_login .pwd{
    border: 1px solid #dddddd;
    height: 38px;
    line-height: 38px;
    width: 248px; 
}
.usr_login label{
    float: left;
    height: 38px;
    width: 38px;
    background: url(http://b.boqiicdn.com/v2/images/silder/pwd-icons-new.png) no-repeat;
}
.pwd label{
    background-position: -48px 0;
}
.realmark{
    margin-top: 20px;
    height: 38px;
    line-height: 38px;
}
.usr_login .realmark input{
    border: 1px solid #dddddd;
    width: 140px; 
}
.realmark img{
    float: right;
    height: 39px;
    width: 94px;
}
.usr_login .safe{
    margin: 20px 0 15px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
.safe .auto_login{
    float: left;  
    line-height: 19px;

}
.auto_login input{
    height: 13px;
    width: 13px;
    margin: 3px;
    margin-left: 0;
    padding: 0;
}
.auto_login strong{
    float: left;
}
.safe .forgetpwd{
    float: right;
}
.usr_login.active a{
    color: #666;
}
.usr_login.active a:hover{
    text-decoration: underline;
}
.usr_login button{
    border: 1px solid #e35342;
    height: 33px;
    width: 248px;
    background: #f65;
    color: #fff;
    font-size: 20px;
    font-family: '\5fae\8f6f\96c5\9ed1';
    margin-bottom: 20px;
}
.usr_login .fastlogin{
    font: 12px Arial,Verdana,"\5b8b\4f53";
    font-weight: 400;
    color: #999
}
.fastlogin span{
    display: block;
    line-height: 22px;
}
.fastlogin span a{
    display: inline-block;
    padding: 0 10px;
    height: 12px;
    line-height: 12px;
    border-left: 1px solid #ccc;
}
.fastlogin span .one{
    padding-left: 0;
    border-left: none;
}
.bar b{
    position: absolute;
    display: block;
    top: 9px;
    right: 13px;
    z-index: 999999;
    width: 20px;
    height: 20px;
    font-size: 1px;
    cursor: pointer;
    background: url(http://b.boqiicdn.com/v2/images/silder/pwd-icons-new.png) no-repeat;
    background-position: -83px -8px;
}
/* 两侧菜单 */
.bar .left_menu{
    position: fixed;
    left: 3px;
    top: 50PX;
    width: 150px;
    text-align: center;
}
.bar dt{
    height: 52px;
    line-height: 52px;
    background: #7f85f2;
    font-size: 32px;
    border-radius: 19px 19px 0 0;
}
.bar a{
    color: #fff;
}
.bar dd{
    height: 50px;
    line-height: 50px;
    background: #ff5e89;
    border-bottom: 1px solid #fff;
    font-size: 22px;
}
.bar dd:nth-last-of-type(2){
    border: none;
    height: 65px;
    border-radius: 0 0 19px 19px;
}
.bar dd:last-of-type{
    border: none;
    background: none;
    position: absolute;
    bottom: -32px;
}
.bar img{
    border-radius: 19px;
}
.bar .right_menu{
    position: fixed;
    right: 36px;
    top: 50PX;
    width: 150px;
    text-align: center;
}
.right_menu dt{
    background: #ff5e89;
}
.right_menu dd{
    background: #fff;
    border-color: #fc8cc3;
}
.right_menu dd a{
    color: #222;
}
/* 福利赏金 */
#goodnews{
    width: 100%;
    background:#fdd0cd;
}
#goodnews .reward{
    width: 990px;
    margin: 0 auto;
}
.reward .coupon1 a{
    float: left;
    width: 495px;
}
.reward .coupon2 a{
    display: block;
}
/* 秒杀 */
#seckill{
    width:990px;
    margin: 0 auto;
}
/* 疯抢1小时 */
#onehour{
    width: 990px;
    margin: 0 auto;
}
.h_tittle li{
    float: left;
    text-align: center;
    width: 25%;
    background: #ccc;
    font-size: 24px;
    position: relative;
}
.h_tittle .cur{
    background: #f55b50;
}
.h_tittle .cur.active{
    background: #f55b50;

}
.h_tittle li a{
    display: block;
    color: #fff;
}
.h_tittle li a span{
    display: block;
    height: 28px;
    line-height: 28px;
    padding-bottom: 10px;
}
.h_tittle li .time{
    padding-bottom: 0;
    padding-top: 10px;
}
.h_tittle em{
    display: none;
    width: 0;
    height: 0;
    border-top: 8px solid #f55b50;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    margin-left: -4px;
    bottom: -8px;
    left: 50%;
    
}
.h_tittle em.active{
    display: block;
}
#onehour .hour_con{
    padding: 15px 10px;
    background: #fff;
}
.hour_con li{
    float: left;
    margin-right: 6px;
    text-align: center;
    width: 238px;
}
.hour_con li:last-child{
    margin-right: 0
}
.hour_con li a{
    display: block;
    position: relative;
}
.hour_con li i{
    display: block;
    background: #fff;
    position: absolute;
    color: #f55b50;
    font-size: 14px;
    border-radius: 10px;
    width: 43px;
    height: 20px;
    border: 1px solid #f55b50;
    text-align: center;
    line-height: 20px;
    top: 12px;
    right: 10px;
    left: 189px;
}
.hour_con img{
    height: 235px;
    width: 235px;
    margin: 0 auto;
}
.hour_con .coupon_title{
    padding: 5px 10px 0 24px;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 5px;
    height: 46px;
    text-align: left
}
.hour_con .coupon_price{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #f55b50;
    font-family: "Arial";
    margin-bottom: 10px;
}
.hour_con .ms_btn{
    display: block;
    line-height: 44px;
    width: 192px;
    height: 44px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #f55b50;
    background-color: #fff;
    border: 1px solid #f55b50
}
/* 卖萌套餐 */
#cute{
    width: 990px;
    margin: 0 auto;
}
.package a{
    display: block;
}
.suprise .s_con{
    padding:0 5px;
}
.s_con .goods_list{
    float: left;
    margin: 15px 5px 0 0;
    background: #fff5fb;
    width: 240px;
}
.s_con .goods_list:nth-child(4n){
    margin-right: 0;
}
.goods_list a img{
    height: 240px;
    width: 240px;
}
.goods_list .goodstxt{
    padding:10px 7px;
}
.goodstxt a{
    display: block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    color: #666;
}
.goodstxt .discription{
    padding-top: 8px;
    font-size: 12px;
    color: #636ad2;
    height: 12px;
    line-height: 12px;
}
.goodstxt .price{
    margin-top:15px; 
}
.price .curer{
    float: left;
    background: #636ad2;
    width: 50px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.price em{
    float: left;
    height: 0;
    width: 0;
    border-left: 7px solid #0e6ace;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    margin-right: 10px;
}
.price .real{
    display: inline-block;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 10px;
    color: #0e6ace;
    font-weight: bold;
}
.price .old{
    font-size: 14px ;
    height: 18px;
    line-height: 18px;
    color: #949494;
    text-decoration: line-through;
}
.goodstxt .buynow{
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    background: #42b4fb;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
}


/* 类目会场 */
#catalogue{
    width: 990px;
    margin: 0 auto;
}
#catalogue ul li{
    float: left;
    margin: 0 10px 10px 0; 
}
#catalogue ul li:last-child{
    margin-right: 0;
}



