body,html{
    background: #f3f3f3;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei";
}
header{
    width: 990px;
    margin: 0 auto;
    padding: 20px 0 15px 0;
    position: relative;
} 
header a{
    float: left;
    margin-right: 10px;
}
header a img{
    display: block;
    width: 190px;
    height: 88px;
}
header h1{
    float: left;
    color: #666;
    font: 24px/40px "Microsoft YaHei";
    border-left: 1px solid #ccc;
    padding: 0 0 0 10px;
    margin-top: 24px;
}
header p {
    position: absolute;
    bottom: 10px;
    right: 0;
}
header p a{
    float: right;
    color: #08d;
}
header p a:hover{
    text-decoration: underline;
}
section{
    width: 990px;
    margin: 0 auto;
    background: #fff;
}
section .left{
    float: left;
    width: 693px;
    padding: 40px 0 0 50px;
}
.left .title{
    width: 109px;
    margin-left: 96px;
    font: 20px/22px "Microsoft YaHei";
    color: #333;
    height: 38px;
    background: url(http://a.boqiicdn.com/Images/sitenew/login/t_b_2.jpg) no-repeat 0 bottom;
}
.title i{
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 22px;
    background: url(http://a.boqiicdn.com/Images/sitenew/login/login.png) no-repeat 0 -195px;
    margin-right: 8px;
}
.left form{
    padding: 30px 0 48px 80px;
}
form p{
    margin-top: 10px;
    position: relative;
}
form p span{
    float: left;
    font: 16px/38px "Microsoft YaHei";
    color: #666;
    width: 100px;
    text-align: right;
}
form p input{
    float: left;
    height: 28px;
    width: 230px;
    padding: 5px 10px;
    border: 1px solid #ddd; 
    color: #ccc;
    font: 14px/28px "Microsoft YaHei";
}
form p b{
    float: left;
    overflow: hidden;
    display: none;
}
form p b em{
    display: block;
    color: #f65;
    background: #ffebec;
    border: 1px solid #ffbdbf;
    padding: 4px 10px;
    width: 210px;
    height: 15px;
    margin: 10px 0 0 10px;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei";
}
form p .ok1,.ok2,.ok3{
    display: block;
    background: url(http://a.boqiicdn.com/Images/sitenew/login/login.png) no-repeat -5px -33px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 365px;
    display: none;
}
form p.qm input{
    width: 110px;
}
form p.qm img{
    float: left;
    width: 70px;
    margin: 5px 40px 0 20px;

}
form p.qm .clear{
    float: left;
    text-align: left;
}
.clear a{
    font-size: 12px;
    color: #000;
    font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei";
}
.clear a:hover{
    color: #f65;
    text-decoration: underline; 
}
form p.message input{
    width: 110px;
}
form p.message a{
    float: left;
    color: #CCC;
    height: 38px;
    border: 1px solid #ddd;
    background: #f3f3f3;
    width: 108px;
    text-align: center;
    line-height: 38px;
    margin: 0 0 0 10px;
}
form p.agree{
    color: #000;
    padding-left: 100px;
    height: 38px;
    line-height: 38px;
    margin-top: 20px;
}
form p.agree input{
    margin-top: 11px;
    display: inline-block;
    height: 13px;
    width: 13px
}
form p.agree span{
  display: inline-block;
    font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei";
    font-size: 12px;
    width: 200px
}
form .btn{
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    width: 250px;
    height: 46px;
    color: #fff;
    font: 24px/46px "Microsoft YaHei";
    background: #f65;
    border: 1px solid #e35342;
}
section .right{
    float: right;
}
/* footer */
footer .copyright{
    width: 990px;
    margin: 0 auto;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 20px 0;
}
.copyright a{
    color: #333;
}
.copyright a:hover{
    color: #e53;
    text-decoration: underline
}
.copyright span{
    padding: 0 8px;
    color: #999;
}
.copyright p{
    line-height: 25px;
}
.copyright img{
    display: inline-block;
}
.copyright p:nth-child(2) img{
    position: relative;
    top: 5px; 
}
.copyright p:last-child img{
    margin: 10px 10px 0 0;
    height: 35px;
    width: 100px
}  
